In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("C:\\Users\\nikit\\Downloads\\kaggle_dataset\\tennis.csv")
df.sample(5)

     outlook  temp humidity  windy play
12  overcast   hot   normal  False  yes
0      sunny   hot     high  False   no
7      sunny  mild     high  False   no
11  overcast  mild     high   True  yes
2   overcast   hot     high  False  yes

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.2,random_state=0)
x_test.shape,x_train.shape

((3, 4), (11, 4))